## INFRA
ENV=development
FLASK_ENV=development
JWT_SIGNATURE_TOKEN=
JWT_SECRET_KEY=
RPC_GATEWAY_KEY=
CHATBOT_SECRET_KEY=
IP_HOST=
HTTPS=true
ALLOWED_IP_HOST='https://app.hoplias.com https://hoplias.com https://landing.hoplias.com https://hoplias.crp.ufv.br http://hoplias.crp.ufv.br'
DESKTOP_MODE_AUTH=false
HOST_DOCUMENTS_DIR='/home/username/Documents'

APP_PLATFORM_HOST= http://localhost:3001
#REACT_APP_API_SERVICE=http://localhost:8005/api/v1
REACT_APP_API_SERVICE=

BASE_URL_API_GATEWAY=http://hoplias-gateway:8001/v1/api
BASE_URL_API_AI=http://hoplias-api-ai:5000/api/v1
REACT_APP_AI_SERVICE=http://hoplias-api-ai:5000/api/v1
AI_GPT_API_KEY=

TOKEN_EXPIRES_IN=1
RECOVER_CODE_EXPIRATION_DAYS=7

GRAYLOG_ROOT_USERNAME=admin
GRAYLOG_HOST=localhost
GRAYLOG_PORT_UDP=12201
GRAYLOG_PASSWORD=
GRAYLOG_PASSWORD_SHA=
GRAYLOG_HTTP_EXTERNAL_URI=http://localhost:9001/
GRAYLOG_HTTP_CORS_ALLOW_ORIGIN=

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

SONAR_USER=admin
SONAR_PASSWORD=
SONAR_PROJECT_TOKEN=

RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_HOST=localhost
RABBIT_PORT=5672
HOST_MQ=localhost
PORT_MQ=5672
USER_MQ=guest
PASSWORD_MQ=guest

SECRET_SQLBAK=

DB_USER= admin
DB_PASSWORD=root
DB_PW=root
DB_HOST=hoplias-api-service-mongo
DB_PORT=27017
DB_NAME=hoplias_dev
DB_API=hoplias_dev

#AWS_REGION=us-east-1
#AWS_ACCESS_KEY_ID=AKIARZDBHS4LVRIQSBXP
#AWS_SECRET_ACCESS_KEY=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

### Config email Config email Zoho 465/587
### senha hoplias-contact-api-service apliation in zoho: 3iFhpaAXfew8
MAIL_SERVER=''
MAIL_PORT=587
MAIL_USERNAME=
MAIL_FROM=
MAIL_PASSWORD=

# available just tls conection (https://...) -> HTTPS=true
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://hoplias.com

GCP_PROJECT_ID=
GCP_PRIVATE_KEY_ID=
GCP_PRIVATE_KEY=
GCP_CLIENT_EMAIL=
GCP_CLIENT_ID=
GCP_CERT_URL=

MAX_CONCURRENT_IO_LOAD_IMAGES=20
REDIS_PASSWORD=

MAX_WORKERS_IDEOGRAM=1
MAX_WORKERS_SEGMENTATION=3
MAX_WORKERS_CLASSIFICATION=3
PARENT_CALLS_TRACKED=10
