## INFRA
JWT_SIGNATURE_TOKEN=
JWT_SECRET_KEY=

HTTPS=true

REACT_APP_API_SERVICE=http://localhost:8005/api/v1
REACT_APP_AI_SERVICE=http://localhost:5000/api/v1
APP_PLATFORM_HOST = https://localhost:3000

BASE_URL_API_GATEWAY=http://hoplias-gateway:8001/v1/api
BASE_URL_API_AI=http://localhost:5000/api/v1

GRAYLOG_HOST=localhost
GRAYLOG_PORT_UDP=12201
GRAYLOG_PASSWORD=
GRAYLOG_PASSWORD_SHA=
GRAYLOG_HTTP_EXTERNAL_URI=http://localhost:9001/
GRAYLOG_HTTP_CORS_ALLOW_ORIGIN=

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

SONAR_USER=admin
SONAR_PASSWORD=
SONAR_PROJECT_TOKEN=

RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_HOST=localhost
RABBIT_PORT=5672

SECRET_SQLBAK=

DB_USER=admin
DB_PASSWORD=root
DB_HOST=
DB_PORT=27017
DB_NAME=
DB_API=


DB_USER_CANCELA=postgres
DB_PASSWORD_CANCELA=root
DB_NAME_CANCELA=postgres

TOKEN_INTEGRATION_API=
AWS_REGION=us-east-1


#hoplias
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REMOVE_BACK_GROUND_KEY = 
