ENV=
FLASK_ENV=
JWT_SIGNATURE_TOKEN=
JWT_SECRET_KEY=
RPC_GATEWAY_KEY=
CHATBOT_SECRET_KEY=
IP_HOST=
HTTPS=true
ALLOWED_IP_HOST=""
DESKTOP_MODE_AUTH=false
HOST_DOCUMENTS_DIR=

APP_PLATFORM_HOST= http://localhost:3001
REACT_APP_API_SERVICE=http://hoplias-api-service:8005/api/v1
BASE_URL_API_GATEWAY=http://hoplias-gateway:8001/v1/api

AI_GPT_API_KEY=

TOKEN_EXPIRES_IN=1
RECOVER_CODE_EXPIRATION_DAYS=7

GRAYLOG_HOST=localhost
GRAYLOG_PORT_UDP=12201
GRAYLOG_PASSWORD=
GRAYLOG_PASSWORD_SHA=
GRAYLOG_HTTP_EXTERNAL_URI=http://localhost:9001/
GRAYLOG_HTTP_CORS_ALLOW_ORIGIN=

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

SONAR_USER=
SONAR_PASSWORD=
SONAR_PROJECT_TOKEN=

RABBIT_USER=
RABBIT_PASSWORD=
RABBIT_HOST=localhost
RABBIT_PORT=5672
HOST_MQ=localhost
PORT_MQ=5672
USER_MQ=guest
PASSWORD_MQ=guest

SECRET_SQLBAK=

DB_USER=admin
DB_PASSWORD=root
DB_PW=root
DB_HOST=hoplias-api-service-mongo
DB_PORT=27017
DB_NAME=
DB_API=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

### Config email Config email Zoho 465/587
MAIL_SERVER=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_FROM=
MAIL_PASSWORD=

# available just tls conection (https://...) -> HTTPS=true
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GCP_PROJECT_ID=
GCP_PRIVATE_KEY_ID=
GCP_PRIVATE_KEY=
GCP_CLIENT_EMAIL=
GCP_CLIENT_ID=
GCP_CERT_URL=

MAX_CONCURRENT_IO_LOAD_IMAGES=
REDIS_PASSWORD=
