.coverage
*.pyc
_py_cache
docs/build
certs

## Packages
*.egg-info
dist
.tox
.env

## flask python
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

tmp
tmp/
src/tmp
src/tmp/
