ENV=development
APP_HOST=localhost
APP_PORT=8005
JWT_SIGNATURE_TOKEN=

DB_USER=admin
DB_PW=root
DB_HOST=localhost
DB_PORT=27017
DB_API=

APP_PLATFORM_HOST = https://localhost:3000
BASE_URL_API_GATEWAY=http://hoplias-gateway:8001/v1/api
BASE_URL_API_AI=http://localhost:5000/api/v1
AI_GPT_API_KEY=

TOKEN_EXPIRES_IN=1
RECOVER_CODE_EXPIRATION_DAYS=7

#aws
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

### Config email Zoho 465/587
MAIL_SERVER='AWS'
MAIL_PORT=587
MAIL_USERNAME=
MAIL_FROM=
MAIL_PASSWORD=

GRAYLOG_HOST=localhost
GRAYLOG_PORT_UDP=12201
GRAYLOG_PASSWORD=
GRAYLOG_PASSWORD_SHA=
GRAYLOG_HTTP_EXTERNAL_URI=http://localhost:9001/
GRAYLOG_HTTP_CORS_ALLOW_ORIGIN=

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

SONAR_USER=admin
SONAR_PASSWORD=
SONAR_PROJECT_TOKEN=

SECRET_SQLBAK=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
