ENV=
APP_HOST=
APP_PORT=
JWT_SIGNATURE_TOKEN=
RPC_GATEWAY_KEY=
CHATBOT_SECRET_KEY=
ALLOWED_IP_HOST=
DESKTOP_MODE_AUTH=
HOST_DOCUMENTS_DIR=

DB_USER=
DB_PW=
DB_HOST=
DB_PORT=
DB_API=

APP_PLATFORM_HOST=
BASE_URL_API_GATEWAY=
BASE_URL_API_AI=
AI_GPT_API_KEY=

TOKEN_EXPIRES_IN=
RECOVER_CODE_EXPIRATION_DAYS=

# aws
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

### config email
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_FROM=
MAIL_PASSWORD=

GRAYLOG_HOST=
GRAYLOG_PORT_UDP=
GRAYLOG_PASSWORD=
GRAYLOG_PASSWORD_SHA=
GRAYLOG_HTTP_EXTERNAL_URI=
GRAYLOG_HTTP_CORS_ALLOW_ORIGIN=

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

SONAR_USER=
SONAR_PASSWORD=
#SONAR_PROJECT_TOKEN=
SONAR_PROJECT_TOKEN=

SECRET_SQLBAK=

# auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# google drive
#user sync drive
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# gcp
GCP_PROJECT_ID=
GCP_PRIVATE_KEY_ID=
GCP_PRIVATE_KEY=
GCP_CLIENT_EMAIL=
GCP_CLIENT_ID=
GCP_CERT_URL=

MAX_CONCURRENT_IO_LOAD_IMAGES=
REDIS_PASSWORD=
